# TouchDesigner Installation Path
TD_INSTALL_PATH=C:/Program Files/Derivative/TouchDesigner/bin

# Communication Ports
TD_OSC_PORT=7000
TD_WEBSOCKET_PORT=9980

# Project and Media Paths
TD_PROJECT_PATH=C:/Users/talla/Documents/touchdesigner-projects
TD_MEDIA_PATH=C:/Users/talla/Documents/touchdesigner-media